.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.table td:nth-child(4) {
  text-align: center;
}

.delete-icon {
  width: 16px;
  height: 16px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}