.main-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-red {
  background-color: #800606;
  color: white;
}

.btn-blue {
  background-color: #213547;
  color: white;
}