.modal {
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  background-color: white;
  padding: 25px 25px;
  min-width: 500px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
}

.btns {
  display: flex;
  justify-content: center;
  gap: 30px;
}
